/* colors from https://www.viget.com/articles/color-contrast */

body {
  font-family: 'Roboto', sans-serif;
  background: white;
  font-size: 14px;
}

/* Customize container */
@media (min-width: 768px) {
  .container-fluid {
    margin-top: 20px;
    max-width: 730px;
  }
}

#sidebar {
  margin-left: 1em;
}

#sidebar .well {
  background: #107896; /* darkest alice */
  color: #f2f3f4; /* lilia */
}

#sidebar a {
  color: #efd469;
}

#sidebar .container-block{
  max-width: 280px;
}

img.gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.main-wrapper {
  background: #f2f3f4; /* lilia */
  color: #373d3f; /* raven */
}

.item, li {
  page-break-inside: avoid !important;
}

.fa {
  margin-right: 0.5em;
}
